* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f7fb;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #0d1b3e;
  color: white;

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
}

.logo {
  height: 95px;

  display: flex;
  align-items: center;

  padding: 20px;
  gap: 12px;
}

.logo-icon {
  width: 40px;
  height: 40px;

  background: #5b5bf7;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}

.logo h2 {
  font-size: 18px;
}

.logo p {
  font-size: 11px;
  color: #b7c0d8;
  margin-top: 4px;
}

.menu {
  padding: 15px 12px;
  flex: 1;
}

.menu-item {
  display: flex;
  align-items: center;

  gap: 12px;

  padding: 13px 15px;
  margin-bottom: 5px;

  border-radius: 7px;

  font-size: 14px;

  cursor: pointer;
}

.menu-item:hover {
  background: #1c2b52;
}

.menu-item.active {
  background: #5956f5;
}

.admin-profile {
  border-top: 1px solid #263556;

  padding: 18px;

  display: flex;
  align-items: center;

  gap: 10px;
}

.avatar {
  width: 38px;
  height: 38px;

  border-radius: 50%;

  background: #6d7df5;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
}

.admin-profile strong {
  font-size: 13px;
}

.admin-profile p {
  font-size: 11px;
  color: #aeb8d0;

  margin-top: 3px;
}

.admin-profile > span {
  margin-left: auto;
}

.main-content {
  margin-left: 250px;
  padding: 35px;
}

.main-content h1 {
  font-size: 28px;
  margin-bottom: 8px;
}

.main-content p {
  color: #68738a;
}


/* navbar */
.navbar {
  height: 80px;
  background: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 35px;

  border-bottom: 1px solid #e5e8ef;
}

.navbar-left h2 {
  font-size: 20px;
  color: #1d2742;
}

.navbar-left p {
  font-size: 12px;
  color: #7b8499;
  margin-top: 4px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 22px;
}

.search-box {
  width: 230px;
  height: 38px;

  background: #f5f7fb;
  border: 1px solid #e1e5ed;
  border-radius: 7px;

  display: flex;
  align-items: center;

  padding: 0 12px;
  gap: 8px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;

  width: 100%;
  font-size: 13px;
}

.notification {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.notification-dot {
  position: absolute;

  width: 7px;
  height: 7px;

  background: #ff4d67;
  border-radius: 50%;

  top: 1px;
  right: -2px;
}

.navbar-avatar {
  width: 38px;
  height: 38px;

  background: #5b5bf7;
  color: white;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: bold;
}

/* statcards */
.stat-card {
  background: white;
  padding: 22px;
  border-radius: 12px;
  border: 1px solid #e5e8ef;
}

.stat-card p {
  font-size: 13px;
  color: #68738a;
  margin-bottom: 10px;
}

.stat-card h2 {
  font-size: 28px;
  color: #1d2742;
  margin-bottom: 8px;
}

.stat-card span {
  font-size: 12px;
  color: #20a464;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px 35px;
}

.stat-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat-icon {
  width: 42px;
  height: 42px;

  border-radius: 10px;

  background: #eef0ff;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #5b5bf7;
}

.stat-icon svg {
  width: 21px;
  height: 21px;
}

/* charts */
.charts-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
  padding: 0 35px 30px;
}

.chart-card {
  background: white;
  border: 1px solid #e5e8ef;
  border-radius: 12px;
  padding: 20px;
  min-height: 350px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.chart-header h3 {
  font-size: 17px;
  color: #1d2742;
  margin-bottom: 5px;
}

.chart-header p {
  font-size: 12px;
  color: #7b8499;
}

.chart-header select {
  padding: 8px 12px;
  border: 1px solid #e1e5ed;
  border-radius: 7px;
  background: white;
  color: #4b556b;
  font-size: 12px;
}

.chart-legend {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 10px 0;
  font-size: 12px;
  color: #68738a;
}

.chart-legend span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.chart-legend i {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.active-dot {
  background: #4F7DF3;
}

.new-dot {
  background: #42C88A;
}

.pie-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 290px;
}

.role-list {
  width: 45%;
}

.role-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  font-size: 12px;
  color: #4b556b;
}

.role-name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.role-color {
  width: 9px;
  height: 9px;
  border-radius: 3px;
}

.role-item strong {
  color: #27324b;
}

/*  */
.bottom-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 35px 30px;
}

.bottom-card {
  background: white;
  border: 1px solid #e5e8ef;
  border-radius: 12px;
  padding: 20px;
}

.bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bottom-header h3 {
  font-size: 16px;
  color: #1d2742;
}

.bottom-header select {
  padding: 7px 10px;
  border: 1px solid #e1e5ed;
  border-radius: 7px;
  background: white;
  font-size: 11px;
  color: #68738a;
}


/* Competency Gaps */

.competency-item {
  margin-bottom: 20px;
}

.competency-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  font-size: 12px;
}

.competency-info span {
  color: #27324b;
}

.competency-info strong {
  color: #27324b;
}

.progress-background {
  width: 100%;
  height: 6px;
  background: #eef0f4;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: #f45b5b;
  border-radius: 10px;
}


/* Quiz Activity */

.quiz-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 11px 0;
  border-bottom: 1px solid #edf0f4;
}

.quiz-item:last-child {
  border-bottom: none;
}

.quiz-icon {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  background: #f1f3f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.quiz-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.quiz-info strong {
  font-size: 12px;
  color: #27324b;
}

.quiz-info span {
  font-size: 10px;
  color: #7b8499;
}

.quiz-score {
  font-size: 11px;
  color: #20a464;
}


/* Recent Users */

.user-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #edf0f4;
}

.user-item:last-child {
  border-bottom: none;
}

.user-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #e8e5ff;
  color: #5145c5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: bold;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex: 1;
}

.user-info strong {
  font-size: 12px;
  color: #27324b;
}

.user-info span {
  font-size: 10px;
  color: #7b8499;
}

.joined {
  font-size: 10px;
  color: #7b8499;
}

.view-all {
  border: none;
  background: transparent;
  color: #4f7df3;
  font-size: 12px;
  cursor: pointer;
}
.main-content {
  margin-left: 250px;
  min-height: 100vh;
}

.dashboard-content {
  background: #f5f7fb;
  min-height: calc(100vh - 80px);
}

.dashboard-heading {
  padding: 25px 35px 5px;
}

.dashboard-heading h1 {
  font-size: 27px;
  color: #1d2742;
  margin-bottom: 6px;
}

.dashboard-heading p {
  font-size: 13px;
  color: #68738a;
}